<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" name="search" class="searchTerm" placeholder="Search City" name="city" [(ngModel)]="cityName">
  </form>
</div>
<div class="container" *ngIf="weatherData">
  <div class="main-data">


    <div class="weather-data">
      <div class="temperature">{{ weatherData.current.temp_c | number: '1.0-0'}}°</div>
      <div class="time-location">
        <div class="location">{{ weatherData.location.name }}</div>
        <div class="time"> {{weatherData.location.localtime}}</div>
      </div>
      <div class="condition">
        <img class="condition-icon" src="{{weatherData.current.condition.icon}}" alt="">
        <div class="condition-text">{{weatherData.current.condition.text}}</div>
      </div>
    </div>
  </div>

</div>

<div class="weather-details" *ngIf="weatherData">
  <h4>More Information</h4>
  <div class="more-information">

    <div class="block">
      <div class="block-info">
        <img src="../assets/temp.png" alt="">
        <span>Feels Like</span>
      </div>

      <div class="value">
        {{ weatherData.current.feelslike_c | number: '1.0-0'}} °
      </div>
    </div>
    <div class="block">
      <div class="block-info"><img src="../assets/humidity.png" alt="">
        <span>Humidity</span>
      </div>

      <div class="value">
        {{ weatherData.current.humidity| number: '1.0-0'}} %
      </div>
    </div>
    <div class="block">
      <div class="block-info">
        <img src="../assets/barometers.png" alt="">
        <span>Pressure</span>
      </div>
      <div class="value">
        {{ weatherData.current.pressure_mb| number: '1.0-0'}} mb
      </div>
    </div>


    <div class="block">
      <div class="block-info"> <img src="../assets/wind.png" alt="">
        <span>Wind</span>
      </div>

      <div class="value">
        {{ weatherData.current.wind_kph| number: '1.0-0'}} Km/h
      </div>
    </div>
  </div>
  <div class="air-quality">
    <h4>Air Quality</h4>
    <div class="air-quality-box" *ngIf="weatherData">
      <div class="element">
        CO:  {{weatherData.current.air_quality.co | number: '1.0-0'}}
      </div>
      <div class="element">
        NO2: {{weatherData.current.air_quality.no2 | number: '1.0-0'}}
      </div>
      <div class="element">
        O3: {{weatherData.current.air_quality.o3 | number: '1.0-0'}}
      </div>
      <div class="element">
        SO2: {{weatherData.current.air_quality.so2 | number: '1.0-0'}}
      </div>
      <div class="element">
        PM2.5: {{weatherData.current.air_quality.pm2_5 | number: '1.0-0'}}
      </div>
      <div class="element">
        PM10: {{weatherData.current.air_quality.pm10 | number: '1.0-0'}}
      </div>
    </div>
    <div class="air-quality-result">
      <div *ngIf="weatherData.current.air_quality.pm2_5 <= 12">
        Healthy
      </div>
      <div *ngIf="weatherData.current.air_quality.pm2_5 > 12 && weatherData.current.air_quality.pm2_5 <= 35.4">
        Moderate
      </div>
      <div *ngIf="weatherData.current.air_quality.pm2_5 > 35.4 && weatherData.current.air_quality.pm2_5 <= 55.4">
        Unhealthy for Sensitive Groups
      </div>
      <div *ngIf="weatherData.current.air_quality.pm2_5 > 55.4 && weatherData.current.air_quality.pm2_5 <= 150.4">
        Unhealthy
      </div>
      <div *ngIf="weatherData.current.air_quality.pm2_5 > 150.4 && weatherData.current.air_quality.pm2_5 <= 250.4">
        Very Unhealthy
      </div>
      <div *ngIf="weatherData.current.air_quality.pm2_5 > 250.4 && weatherData.current.air_quality.pm2_5 <= 500.4">
        Hazardous
      </div>
    </div>
  </div>