* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    width:  100%;
    display: flex;
}

.weather-data {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    height: 75px;
}

.time-location {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;
}

.condition {
    display: flex;
    flex-direction: column;
}

.condition-icon {
    width: 50px;
    height: 50px;
}